* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "arial";
}

body {
  background-color: #f6f1f1;
}

.container {
  max-width: 960px;
  padding-inline: 20px;
  margin-inline: auto;
}

/* START HEADER */
header h1 {
  font-size: 4rem;
  grid-column-start: 2;
  text-align: center;
  color: #343a40;
  padding-block: 2rem;
}
/* END HEADER */

/* START CONFIG SETTINGS */
.config {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.color-picker,
.slider {
  text-align: center;
}

/* needed to remove the outside boarder */
.color-picker input[type="color"] {
  border: none;
  width: 5rem;
  height: 5rem;
  background-color: transparent;
}

.color-picker input[type="color"]:hover {
  border: none;
  cursor: pointer;
  transform: scale(1.05);
}

/* needed to the remove the inside border */
::-webkit-color-swatch {
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

::-moz-color-swatch {
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color-picker-label {
  padding-top: 0.5rem;
}

.config button {
  padding-block: 0.5rem;
  color: #f6f1f1;
  font-weight: bold;
  background-color: #343a40;
  border-radius: 0.3rem;
  border-style: none;
}

.config button:hover {
  background-color: #f6f1f1;
  color: #343a40;
  outline: 1px solid #343a40;
}

.slider input[type="range"] {
  width: 100%;;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  accent-color: #00b4d8;
  cursor: pointer;
}

/* END CONFIG SETTINGS */

/* START GRID AND CONFIG LAYOUT */
.grid-n-config {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  gap: 2rem;
}
/* END GRID AND CONFIG LAYOUT */

/* START GRID */
.adjustable-grid {
  background-color: white;
  width: 500px;
  height: 500px;
}
/* END GRID */
